<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Health Prediction Models</title>
</head>
<body>
    <h1>Welcome to Health Prediction Models</h1>
    <p>Select a model to make a prediction:</p>
    <ul>
        <li><a href="/diabetes">Diabetes Prediction</a></li>
        <li><a href="/liver">Liver Disease Prediction</a></li>
        <li><a href="/heart">Heart Disease Prediction</a></li>
        <li><a href="/kidney">Kidney Disease Prediction</a></li>
        <li><a href="/breast_cancer">Breast Cancer Prediction</a></li>
        <li><a href="/malariapredict">Malaria Prediction</a></li>
        <li><a href="/pneumoniapredict">Pneumonia Prediction</a></li>
    </ul>
</body>
</html>
